In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in data
df = pd.read_csv("data/k2pandc_2024.05.30_19.37.55.csv", comment='#')
df.head()

,pl_name,disposition,sy_snum,sy_pnum,pl_orbper,pl_rade,pl_masse,pl_dens,pl_orbeccen,pl_insol,...,st_rad,st_mass,st_met,st_lum,st_logg,st_dens,ra,dec,sy_dist,sy_vmag
0,BD+20 594 b,CONFIRMED,1,1,41.685500,2.578,22.2481,NaN,0.0,NaN,...,1.08,1.67,-0.15,NaN,4.50,1.8900,53.651123,20.599021,179.4610,10.849
1,BD+20 594 b,CONFIRMED,1,1,41.685500,2.230,16.3000,7.89,0.0,NaN,...,0.93,0.96,-0.15,-0.056,4.50,1.7000,53.651123,20.599021,179.4610,10.849
2,BD+20 594 b,CONFIRMED,1,1,41.688644,2.355,NaN,NaN,NaN,NaN,...,0.96,0.96,-0.06,NaN,4.38,NaN,53.651123,20.599021,179.4610,10.849
3,EPIC 201111557.01,CANDIDATE,1,0,2.301830,1.120,NaN,NaN,NaN,NaN,...,0.76,0.73,-0.03,-0.623,4.54,2.3206,183.846245,-6.268329,97.1795,11.727
4,EPIC 201111557.01,CANDIDATE,1,0,2.302368,1.313,NaN,NaN,NaN,NaN,...,0.71,NaN,-0.06,NaN,4.50,NaN,183.846245,-6.268329,97.1795,11.727

In [3]:
# Check for missing values and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3839 entries, 0 to 3838
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pl_name      3839 non-null   object
 1   disposition  3839 non-null   object
 2   sy_snum      3839 non-null   int64
 3   sy_pnum      3839 non-null   int64
 4   pl_orbper    3800 non-null   float64
 5   pl_rade      3030 non-null   float64
 6   pl_masse     320 non-null    float64
 7   pl_dens      269 non-null    float64
 8   pl_orbeccen  373 non-null    float64
 9   pl_insol     519 non-null    float64
 10  pl_eqt       709 non-null    float64
 11  pl_orbincl   946 non-null    float64
 12  pl_tranmid   3775 non-null   float64
 13  ttv_flag     3839 non-null   int64
 14  pl_trandur   2718 non-null   float64
 15  st_teff      2731 non-null   float64
 16  st_rad       3715 non-null   float64
 17  st_mass      1968 non-null   float64
 18  st_met       1568 non-null   float64
 19  st_lum       736 non-null    float64
 20  st_logg      2204 non-null   float64
 21  st_dens      903 non-null    float64
 22  ra           3839 non-null   float64
 23  dec          3839 non-null   float64
 24  sy_dist      3716 non-null   float64
 25  sy_vmag      3797 non-null   float64
dtypes: float64(21), int64(3), object(2)
memory usage: 779.9+ KB

In [9]:
df.disposition.value_counts()

disposition
CONFIRMED         2156
CANDIDATE         1372
FALSE POSITIVE     311
Name: count, dtype: int64

In [14]:
confirmed = df[df.disposition.isin(["CONFIRMED", "FALSE POSITIVE"])]

In [15]:
# Replace disposition values with planet flag
condition = [True if disp == "CONFIRMED" else False for disp in confirmed.disposition]
confirmed.insert(2, "planet", condition)
data=confirmed.drop(["disposition", "pl_name"], axis=1)

In [16]:
data.head()

,planet,sy_snum,sy_pnum,pl_orbper,pl_rade,pl_masse,pl_dens,pl_orbeccen,pl_insol,pl_eqt,...,st_rad,st_mass,st_met,st_lum,st_logg,st_dens,ra,dec,sy_dist,sy_vmag
0,True,1,1,41.685500,2.578,22.2481,NaN,0.0,NaN,NaN,...,1.08,1.67,-0.150,NaN,4.50,1.89,53.651123,20.599021,179.461,10.8490
1,True,1,1,41.685500,2.230,16.3000,7.89,0.0,NaN,546.0,...,0.93,0.96,-0.150,-0.056,4.50,1.70,53.651123,20.599021,179.461,10.8490
2,True,1,1,41.688644,2.355,NaN,NaN,NaN,NaN,NaN,...,0.96,0.96,-0.060,NaN,4.38,NaN,53.651123,20.599021,179.461,10.8490
13,True,1,1,6.798700,1.047,NaN,NaN,0.0,NaN,NaN,...,0.28,0.29,-0.048,NaN,5.00,NaN,170.140856,-4.807004,NaN,17.6984
21,True,1,1,28.165600,1.870,NaN,NaN,NaN,NaN,NaN,...,NaN,0.41,NaN,NaN,NaN,NaN,179.705853,-3.389461,159.259,16.0140

In [17]:
# Get and display the correlations
correlations = data.corr()["planet"].sort_values(ascending = False)
print('Correlations:\n', correlations)

Correlations:
 planet         1.000000
sy_pnum        0.460303
st_logg        0.281366
st_met         0.219347
st_dens        0.129354
ttv_flag       0.100355
sy_snum        0.096087
ra             0.090277
pl_orbper      0.030312
pl_orbincl    -0.029202
pl_insol      -0.059007
pl_trandur    -0.069386
pl_eqt        -0.073166
st_teff       -0.139916
pl_tranmid    -0.144862
sy_vmag       -0.162901
dec           -0.185111
st_mass       -0.192324
st_rad        -0.316071
st_lum        -0.337547
sy_dist       -0.448465
pl_rade       -0.510107
pl_masse            NaN
pl_dens             NaN
pl_orbeccen         NaN
Name: planet, dtype: float64